@import "tailwindcss";
@plugin "daisyui";


/* 🧠 Move all your custom CSS *after* Tailwind imports */
/* :root {
  --color-bg: #0f172a;
  --color-brand: #684958;
  --color-brand-600: #946a7b;
  --bg-brand: #684958;
} */

/* Your base styles */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* @theme {
  --color-primary: #946a7b;
  --color-secondary: #fbbf24;
  --color-accent: #10b981;
  --color-danger: #ef4444;
  --color-brand: #302128;
  --color-text: #ffffff;
} */
